name = "cloudflare-workers-s3-proxy"
compatibility_date = "2025-05-21"

workers_dev = false
upload_source_maps = true

[placement]
mode = "smart"

[vars]
END_POINT = ""
ACCESS_KEY = ""
BUCKET_NAME = ""
RANGE_RETRY_ATTEMPTS = 3
CORS_ALLOW_ORIGINS = "*"
VERSION = "v1.0.0"
